.footer2{
    height: 70px;
    background: #070463;
    font-family: var(--font-family);
    color: var(--text-color1);
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-1);
    line-height: var(--line-height);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}
