.School{
    width: 100%;
    font-family: var(--font-family);
    font-style: var(--font-style);
    line-height: var(--line-height);
    display: flex;
    flex-direction: column;
}

.logo33{
    margin-top: 40px;
    padding: 0;
    height: 50px;
}

.retrive h1{
    width: 50%;
    height: 14vh;
    font-size: var(--font-size-6);
}

.retrive-1{
    width: 40%;
}

@media (max-width: 770px) {
    .School{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo33{
        margin-top: 2.6rem;
        margin-bottom: 2rem;
    }

    .retrive-1{
        margin-bottom: -1.5rem;
    }

    .retrive h1{
        width: 60%;
        font-size: var(--font-size-8);
    }
}