.Signin{
    font-family: var(--font-family);
    font-style: var(--font-style);
    line-height: var(--line-height);
    width: 100%;
    height: 100%;
    padding: 22px 0;
}

.sign-in{
    margin-bottom: 40px;
}

.sign-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    margin-bottom: 15px;
}

.signin-Goap{
    height: 18vh;
    display: flexbox;
    width: 40%;
    box-sizing: border-box;
    border: 1px solid;
}

.sign-form h1{
    margin-bottom: 10px;
}

.signin-retrive{
    width: 40%;
    height: 36px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
    background: #F1EFEF;
}

.signin-retrive::placeholder{
    color: var(--text-color2);
    margin: auto;
    font-family: var(--font-family);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
}

.handlePassword{
    width: 40%;
    height: 36px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F1EFEF;
}

.handlePassword ::placeholder{
    color: var(--text-color2);
    margin: auto;
    font-family: var(--font-family);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
}

.signin-retrive-password{
    width: 100%;
    height: 36px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #F1EFEF;
}

.forgetPass{
    width: 40%;
    height: 3vh;
    display: flex;
    justify-content: flex-end;
    margin-top: -15px;
    /* font-weight: var(--font-weight-1); */
    font-size: var(--font-size-1);
}

.signin-sbmtBtn{
    width: 40%;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: var(--text-color-3);
    font-family: var(--font-family);
    font-style: var(--font-style);
    font-weight: var(--font-weight-3);
    color: var(--text-color1);
    font-size: 16px;
    cursor: pointer;
    min-width: 20px;
}

.signin-link{
    text-decoration: none;
    color: rgba(7, 4, 99, 1);
}

@media (max-width: 770px) {
    .sign-form h1{
        font-size: 30px;
    }
}