.Footer{
    height: 300px;
    font-family: var(--font-family);
    color: var(--text-color1);
    background: var(--bacground-footer);
    padding: 82px  94px;
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.footer-first{
    display: flex;
    flex-direction: column;
    gap: 46px;
}

.footer-first img{
    height: 71px;
    width: 100px;
}

.send-info{
    display: flex;
    align-items: center;
    gap: 12px;
}

.send-info input{
    height: 40px;
    width: 318px;
    border-radius: 6px;
    padding: 10px 10px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #FDFDFD;
    outline: none;
}

::placeholder{
    color: var(--text-color1);
    font-family: var(--font-family);
}

.footer-second{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-second p{
    cursor: pointer;
}

.repon{
    display: none;
}

@media screen  and (max-width: 480px){
    .Footer{
        display: flex;
        flex-direction: column;
        height: 350px;
        padding: inherit;
        /* margin-top: 100px; */
    }

    .repon{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .repo-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 33px;
    }

    .repo-logo img{
        width: 80px;
        height: 50px;
    }

    .dernier{
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 14px;
        margin-bottom: 24px;
    }

    .send-info{
        padding: 10px 15px;
    }

    .send-info input{
        width: 270px;
    }

    .footer-first{
        display: none;
    }

    .footer-second{
        display: none;
    }
}