.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--background-color-3);
    border-bottom: 2px solid;
    
}

.home-first{
    height: 52vw;
    padding: 65px 50px 0 50px;
    font-family: var(--font-family);
    background-image: url(/src/assets/Frame\ 21.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    display: flex;
    flex-direction: row;
}

.home-text-start{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.first-writting-1{
    height: 25%;
    width: 100%;
    font-size: var(--font-size-4);
    line-height: var(--line-height);
    font-weight: var(--font-weight-4);
    color: var(--text-color1);
    text-align: left;
}

.first-writting-2{
    height: 10%;
    width:100%;
    color: var(--text-color1);
    font-size: 1.3vw;
    font-weight: var(--font-weight-1);
    line-height: var(--line-height);
    
}

.home-text-start input{
    background-color: var(--bacground-color4);
    font-family: var(--font-family);
    color: var(--text-color1);
    font-weight: var(--font-weight-3);
    font-size: var(--font-size-1);
    line-height: var(--line-height);
    text-align: center;
    height: 8%;
    width: 30%;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    animation: dissolve 300ms ease-in-out;
}

.home-image img{
    height: 100%;
    width: 100%;    
}

.home-image{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.home-second{
    height: 70vw;
    width: 100%;
    padding: 30px 50px 0 50px;
}

.second-first{
   display: flex;
   gap: 25px;
   margin-bottom: 25px;
}

.div1{
    height: 10%;
    width: 40%;
    font-family: var(--font-family);
    font-size: 3.5vw;
    font-weight: var(--font-weight-4);
    color: var(--text-color1);
}

.div2{
    height: 10%;
    width: 60%;
    font-family: var(--font-family);
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-2);
    line-height: var(--line-height);
    color: var(--text-color1);
}

.second-second{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.second-second-f{
    display: flex;
    height: 100%;
    width: 100%;
}

.description1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
    width: 30%;
    margin-top: 100px;
    margin-left: 50px;
    border-radius: 20px;
    z-index: 1;
    padding: 10px 10px;
    transform: rotate(-12deg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(114, 114, 144, 0.5);
}

.description1 img{
    height: 80%;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 14px;
}

.description1 p{
    height: 15%;
    width: 100%;
    font-family: var(--font-family);
    color: var(--text-color1);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-3);
    line-height: var(--line-height);
}

.description2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
    width: 30%;
    border-radius: 20px;
    z-index: 2;
    padding: 10px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(114, 114, 144, 0.5);;
}

.description2 img{
    height: 80%;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 14px;
}

.description2 p{
    height: 15%;
    width: 100%;
    font-family: var(--font-family);
    color: var(--text-color1);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-3);
    line-height: var(--line-height);
}

.description3{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
    width: 30%;
    margin-top: 100px;
    margin-right: 50px;
    border-radius: 20px;
    z-index: 3;
    padding: 10px 10px;
    transform: rotate(12deg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(114, 114, 144, 0.5);
}

.description3 img{
    height: 80%;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 14px;
}

.description3 p{
    height: 15%;
    width: 100%;
    font-family: var(--font-family);
    color: var(--text-color1);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-3);
    line-height: var(--line-height);
}

.second-second-s{
    display: flex;
    justify-content: center;
}

.Btnw{
    background-color: var(--bacground-color4);
    font-family: var(--font-family);
    color: var(--text-color1);
    font-weight: var(--font-weight-3);
    font-size: var(--font-size-1);
    line-height: var(--line-height);
    text-align: center;
    height: 4vw;
    width: 30%;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.home-third{
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 94px;
}

.third-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: var(--font-weight-4);
    font-size: var(--font-size-4);
    font-style: var(--font-style);
    line-height: var(--line-height);
    color: var(--text-color1);
    align-items: center;
}

.third-one p{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-2);
}

.third-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: var(--font-weight-4);
    font-size: var(--font-size-4);
    font-style: var(--font-style);
    line-height: var(--line-height);
    color: var(--text-color1);
    align-items: center;
}

.third-two p{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-2);
}
.third-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: var(--font-weight-4);
    font-size: var(--font-size-4);
    font-style: var(--font-style);
    line-height: var(--line-height);
    color: var(--text-color1);
    align-items: center;
}

.third-three p{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-2);
}

.home-forth{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 75px 50px 75px 50px;
}

.forth-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-family);
    color: var(--text-color1);
    width: 50%;
    height: 100%;
    gap: 10px;
}

.forth-one h1{
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-4);
    font-style: var(--font-style);
    line-height: var(--line-height);
    height: 110px;
    width: 100%;}

.forth-one p{
    height: 135px;
    width: 100%;
    font-style: var(--font-style);
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-2);
    line-height: var(--line-height);
}

.forth-two{
    height: 100%;
    width: 50%;
}

.lastimg{
    height: 100%;
    width: 100%;
    border-radius: 4px;
}



@media (max-width: 480px){
    /* .home{
        width: 100%;
        height: 791;
        display: flex;
    }

    .home-first{
        height: 750px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .frame{
        display: none;
        margin-top: inherit;
        z-index: inherit;
    }

    .home-text-start{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px ;
        margin-top: 0px;
    }

    .home-image{
        margin-left: 0px;
        margin-top: 0px;
        height: 500px;
        width: 450px;
    
    }

    .home-image img{
        height: 650px;
        width: 450px;
        margin-top: -70px;
        z-index: 0;
    }

    .first-writting-1{
        height: 72px;
        width: 450px;
        font-size: var(--font-size-7);
        font-weight: var(--font-weight-4);
        text-align: center;
    }
    
    .first-writting-2{
        height: 38px;
        width:450px;
        font-size: var(--font-size-1);
        font-weight: var(--font-weight-1);
        margin-bottom: 20px;
        margin-top: 0px;
        text-align: center;
    }

    .home-second{
        height: 1400px;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .second-second{
        display: flex;
        align-items: center;
    }

    .second-second-s{
        margin-left: 0px;
        display: flex;
        text-align: inherit;
        width: 250px;  
    }

    .second-second-f{
        display: flex;
        flex-direction: column;
    }

    .description1{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 360px;
        width: 300px;
        margin-top: 0px;
        margin-left: 0px;
        border-radius: 20px;
        transform: rotate(-12deg);
        
    }
    
    .description1 img{
        height: 250px;
        width: 300px;
        border-radius: 20px;
        margin-bottom: 0px;
    }
    
    .description1 p{
        height: 55px;
        width: 280px;
        font-size: var(--font-size-1);
        font-weight: var(--font-weight-3);
        margin-top: 8px;
    }

    .second-first{
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-bottom: 30px;
    }

    .div1{
        height: 29px;
        width: 442px;
        font-size: var(--font-size-8);
        font-weight: var(--font-weight-4);
        text-align: center;
    }
    
    .div2{
        height: 80px;
        width: 454px;
        font-weight: var(--font-weight-1);
        font-size: var(--font-size-1);
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .description2{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 360px;
        width: 300px;
        margin-top: 0px;
        margin-left: 0px;
        border-radius: 20px;
        padding: 0;
        transform: rotate(5deg);
    }
    
    .description2 img{
        height: 250px;
        width: 300px;
        border-radius: 20px;
        margin-bottom: 0px;
    }
    
    .description2 p{
        height: 55px;
        width: 280px;
        font-size: var(--font-size-1);
        font-weight: var(--font-weight-3);
        margin-top: 8px;
    }
    
    .description3{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 360px;
        width: 300px;
        margin-top: 0px;
        margin: 0px;
        border-radius: 20px;
        padding: 0;
        transform: rotate(-12deg);
    
    }
    
    .description3 img{
        height: 250px;
        width: 300px;
        border-radius: 20px;
        margin-bottom: 0px;
    }
    
    .description3 p{
        height: 55px;
        width: 280px;
        font-size: var(--font-size-1);
        font-weight: var(--font-weight-3);
        margin-top: 8px;
    }
    
    .home-third{
        height: 140px;
        width: 480px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 54px;
    }

    .third-one{
        font-weight: var(--font-weight-4);
        font-size: var(--font-size-7);
    }
    
    .third-one p{
        font-size: var(--font-size-3);
        font-weight: var(--font-weight-2);
    }
    
    .third-two{
        font-weight: var(--font-weight-4);
        font-size: var(--font-size-7);
    }
    
    .third-two p{
        font-size: var(--font-size-3);
        font-weight: var(--font-weight-2);
    }
    .third-three{
        font-weight: var(--font-weight-4);
        font-size: var(--font-size-7);
    }
    
    .third-three p{
        font-size: var(--font-size-3);
        font-weight: var(--font-weight-2);
    }

    .home-forth{
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;
        padding: 0;   
    }

    .forth-two img{
        height: 300px;
        width: 450px;
    }

    .forth-two{
        height: 300px;
        width: 450px;
    }

    .forth-one p{
        height: 95px;
        width: 450px;
        font-weight: var(--font-weight-1);
        font-size: var(--font-size-2);
        text-align: center;
        overflow: hidden;
    }

    .forth-one h1{
        font-size: var(--font-size-8);
        height: 29px;
        text-align: center;
    } */
}


@media (max-width:1024px){
    
}