.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 50px 16px 50px;
    height: 9%;
    width: 100%;
    font-family: "Lexend";
    position: fixed;
    z-index: 4;
    backdrop-filter: blur(10px);
    background: var(--bacground-nav-color3);
    font-family: var(--font-family);
}

.navbar-first{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}


.first-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 80px;
    gap: 14px;
}

.menunav{
    color: var(--text-color1);
    font-size: 0.9em;
}

.navbar-third2{
    height: 40px;
    width: 20%;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    
}

.navbar-third{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.third-link{
    color: var(--text-color1);
    text-decoration: none;
    font-style: var(--font-style);
    font-weight: var(--font-weight-2);
    line-height: var(--line-height);
    font-family: var(--font-family);
    font-size: 1.2em;
}

.third-link1{
    background-color: var(--bacground-color4);
    text-decoration: none;
    font-size: 1.2em;
    height: 100%;
    width: 60%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@media only screen and (max-width: 600px){
    .Navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 43% 16px 5%;
        height: 9%; 
        position: fixed;
        width: 100%;
    }

    .navbar-first{
        display: flex;
        gap: 10px;
        margin-left: 14px;
    }

    .navbar-third2{
        display: none;
    }
}