.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 80px;
    height: 80px;
    width: 100%;
    font-family: "Lexend";
    backdrop-filter: blur(10px);
    background: var(--bacground-nav-color3);
}


.first-link{
    display: flex;
    align-items: center;
    gap: 14px;
    color: var(--text-color1);
    text-decoration: none;
}

.navbar-third{
    display: flex;
    flex-direction: row;
    gap: 24px;
    
}

.third-link{
    color: var(--text-color1);
    text-decoration: none;
    font-style: var(--font-style);
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-1);
    line-height: var(--line-height);
    font-family: var(--font-family);
}