.CardConnectionContainer {
    width: 380px;
    height: 380px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    margin: 20px;
}

.CardConnectionContainerH1 {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: white;
}

.numberCss {
    width: 100%;
    text-align: center;
    font-size: 7em;
    font-weight: bolder;
    color: white;
}