*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --text-color1: rgba(255,255,255,1);
    --text-color2: rgba(0,0,0,1);
    --text-color-3:rgba(204, 127, 0, 1);
    --background-color1: rgba(255,255,255,1);
    --background-color2: linear-gradient(rgba(2,64,89,1), rgba(7,4,99,0.75));
    --background-color-3: linear-gradient(90deg, #024059 0%, rgba(7, 4, 99, 0.75) 100%);

    --bacground-nav-color3: linear-gradient(90deg, rgba(2, 64, 89, 0.8) 0%, rgba(7, 4, 99, 0.16) 100%);
    --bacground-color4: rgba(204,127,0,1);
    --bacground-color5: rgba(228,247,255,1);
    --background-color6:rgba(2,64,89,1);
    --background-color7:rgba(241,239,1);
    --background-color8: rgba(200,200,200,1);
    --background-color-9:rgba(2, 64, 89, 1);
    --background-color-10: rgba(244, 241, 241, 1);
    --background-color-11:rgba(233, 233, 233, 1);
    --background-color-12: #727290;
    --bacground-footer: linear-gradient(90.15deg, rgba(3, 73, 101, 0.69) 0.13%, rgba(10, 5, 138, 0.64) 99.88%);

    --font-family: "Lexend";

    --font-style: normal;

    --font-weight-1: 300;
    --font-weight-2: 400;
    --font-weight-3: 500;
    --font-weight-4: 700;
    
    --font-size-1: 14px;
    --font-size-2: 16px;
    --font-size-3: 18px;
    --font-size-4: 58px;
    --font-size-5: 46px;

    --line-height: 120%;

}

html, body, #root{
    height: 100%;
    width: 100%;
    font-family: var(--font-family-1);
    background: var(--background-color1);
}