.sponsor{
    width: 100%;
    font-family: var(--font-family);
    font-style: var(--font-style);
    line-height: var(--line-height);
}

.logo33{
    margin-top: 2.6rem;
    margin-left: 4.6rem;
    margin-bottom: 2rem;
}

.retrive{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 49px;
    gap: 1.5rem;
}

.retrive h1{
    font-weight: var(--font-weight-4);
    font-size: var(--font-size-6);
    width: 65%;
    height: 6vh;
    text-align: center;
    line-height: var(--line-height);
}

.googleapplle{
    height: 18vh;
    display: flexbox;
    width: 60%;
    box-sizing: border-box;
    border: 1px solid;
}

.line{
    font-weight: 600;
    font-size: 12px;
}

/* .line:before{
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100px;
    margin-right: 10px;
    margin-left: -100%;
    border-top: 2px solid #C4C4C4;
}

.line:after{
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 50%;
    margin-right: 100px;
    margin-left: 10px;
    border-top: 2px solid #C4C4C4;
} */

.retrive-first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    height: 2.25rem;
    gap: 1.5rem;
}

.retrive-1{
    width: 22rem;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
    background: #F1EFEF;
}

.retrive-2{
    width: 22rem;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
    background: #F1EFEF;
}

.retrive-3{
    width: 60%;
    height: 36px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
    background: #F1EFEF;
}

.retrive-4{
    width: 100%;
    height: 36px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #F1EFEF;
}


.Select1{
    border: none;
    outline: none;
    width: 60%;
    height: 36px;
    border-radius: 5px;
    font-family: var(--font-family);
    padding: 10px;
    font-size: var(--font-size-1);
}

.script-bottom{
    font-size: var(--font-size-1);

}

::placeholder{
    color: var(--text-color2);
    margin: auto;
    /* padding: 10px;
    margin: 10px; */
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
}

.sbmtBtn{
    width: 60%;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: var(--text-color-3);
    font-family: var(--font-family);
    font-style: var(--font-style);
    font-weight: var(--font-weight-3);
    color: var(--text-color1);
    font-size: 16px;
    cursor: pointer;
    min-width: 20px;
}

.link3{
    text-decoration: none;
    color: rgba(7, 4, 99, 1);
}

.p1{
    font-size: 14px;
}

.handleP{
    width: 60%;
    height: 36px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F1EFEF;
}

@media (max-width:770px) {
    .retrive h1{
        font-weight: var(--font-weight-4);
        font-size: 24px;
    }

    .retrive-first{
        
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .retrive-1{
        width: 100%;
        border-radius: 5px;
    }
    
    .retrive-2{
        width: 100%;
        border-radius: 5px;

    }

    .retrive-3{
        margin-top: 1.5rem;
    }

    .sponsor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: inherit;
    }

    .logo33{
        margin-top: 2.6rem;
        margin-bottom: 2rem;
    }

    .sbmtBtn{
        min-width: 15%;
        max-width: 60%;
    }
}